body {
    background-color: grey;
    height: 100%;
    margin-left: 2em;
    margin-top:-5em;
    text-align:center;
}

#videoElement {
    width: 100%;
    height: 100%;
    margin-left:7em;
    transform: rotateY(180deg);
}
#container {
    align-items:center;
    margin-top:13em;
    display: grid;
    overflow:hidden;
    gap:20px;
}
#item {
    /* Add styling for individual items (e.g., width, padding, border) */
    padding: 10px;
    border: none;
}
.con{
    width:150px;
    height:170px;
}


